<header style="justify-content: center;"  class="header">

    <a href="home.html" class="logo"> <i class="fas fa-store"></i> Paani.com </a>

    

  

</header>




<div class="main-section">
<section *ngIf="!register" class="login">

    <form [formGroup]="loginForm" (ngSubmit)="loginWithEmailAndPassword()" action="">
        <h3>login now</h3>
        <input formControlName="email" type="email" name="" placeholder="enter your email" id="" class="box">
        <input formControlName="password" type="password" name="" placeholder="enter your password" id="" class="box">
        <div class="remember">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me"> remember me </label>
        </div>
        <input type="submit" (click)="loginWithEmailAndPassword()" value="login now" class="btn">
        <p>don't have an account?</p>
        <a (click)="openRegistration()" class="btn link">register now</a>
    </form>

</section>

<section *ngIf="register" class="register">

    <form [formGroup]="registrationForm" action="">
        <h3>register now</h3>
        <input formControlName="name"   type="text" name="" placeholder="enter your name" id="" class="box">
        <input  formControlName="email" type="email" name="" placeholder="enter your email" id="" class="box">
        <input formControlName="password1" type="password" name="" placeholder="enter your password" id="" class="box">
        <input formControlName="password2" type="password" name="" placeholder="re-enter your password" id="" class="box">
        <input type="submit" value="register now" class="btn">
        <p>already have an account?</p>
        <a (click)="openLogin()" class="btn link">login now</a>
    </form>

</section>

</div>

<app-footer></app-footer>
