<app-header></app-header>

<div class="container">
        
  <div *ngIf="this.selectedProduct"  class="card-container">
      <input type="radio" name="colors-btn" id="color-1" checked>
     
      <div  class="shoe-area">
          
              <div class="logo-div">
                  <!-- <img src="https://github.com/gerrardNwoke/Prdouct-Card/blob/main/Shoe-product-card/imgs/nike-logo.png?raw=true" alt=""> -->
              </div>
              <div class="floating-div">
              <div class="shoe-1" ><img [src]="selectedProduct.coverImg" alt="red-nike" ></div>
              <div class="shoe-2"><img src="https://github.com/gerrardNwoke/Prdouct-Card/blob/main/Shoe-product-card/imgs/orange-nike.png?raw=true" alt="orange-nike"></div>
              <div class="shoe-3"><img src="https://github.com/gerrardNwoke/Prdouct-Card/blob/main/Shoe-product-card/imgs/white.png?raw=true" alt="white-nike"></div>
              <div class="shoe-4"><img src="https://github.com/gerrardNwoke/Prdouct-Card/blob/main/Shoe-product-card/imgs/black-nike.png?raw=true" alt="black-nike"></div>
              </div>

      </div>
      <div class="text-area">
          <div class="heading-area">
              <h2>{{selectedProduct.productTitle}}</h2>
              <h4>Packaged Drinking Water</h4>
          </div>

              <p class="paragraph-area">
                  {{selectedProduct.productDesc}}
              </p>

          <div class="color-selection">
              <!-- <div class="h5-text"><h5>Available Colors: </h5></div> -->
              
              <div class="color-pick-div">
                  <label for="color-1" class="colors color-1"></label>
                  <label for="color-2" class="colors color-2"></label>
                  <label for="color-3"class="colors color-3" ></label>
                  <label for="color-4" class="colors color-4"></label>
              </div>
          </div>
          <div class="price-and-buy-btn">
              <h2 class="price-1">INR {{selectedProduct.price}}</h2>
              
              <button *ngIf="!selectedProduct.isAdded" class="buy-btn" (click)="addToCart(selectedProduct)" >Add to Cart</button>
              <button *ngIf="selectedProduct.isAdded" class="buy-btn"  > 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                  </svg>
                   Added to Cart</button>
          </div>
      </div>
  </div>
</div>
<h1 class="heading"> Featured <span>products</span> </h1>
<section class="products">

    

    <div   class="box-container">

        <div *ngFor="let products of featuredProducts" (click)="setSelected(products)" class="box" style="margin-left:10px;margin-right:10px;margin-bottom:10px;cursor:pointer">
            <div class="image">
                <img  [src]="products.coverImg"  class="main-img" alt="">
                <img  [src]="products.coverImg"  class="hover-img" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                  
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>{{products.productTitle}}</h3>
                <div class="price"> INR {{products.price}}<span> INR {{125*products.price/100}}</span></div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>


     
     


      

       
     

      

       

        

      
    </div>

</section>

<app-footer></app-footer>

<ngx-spinner  
[bdColor]="'rgba(51,51,51,0.8)'"
 
  
  [type]="'timer'">
  <p style="font-size: 20px; color: white">Loading...</p>

</ngx-spinner>