
<div class="">
<app-header></app-header>

<section  class="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

        <div [@slideInOut] class="swiper-slide slide">
            <div class="image">
                <img [src]="advertiseMents[sliderIndex].imageSrc" alt="">
            </div>
            <div class="content">
                <span>{{advertiseMents[sliderIndex].desc}}</span>
                <h3>{{advertiseMents[sliderIndex].category}}</h3>
                <a (click)="goToProduct(advertiseMents[sliderIndex])" class="btn">shop now</a>
            </div>
        </div>

      

       

        </div>

        <div (click)="changeSlider('inc')" class="swiper-button-next"></div>
        <div (click)="changeSlider('dec')"  class="swiper-button-prev"></div>

    </div>

</section>

<section class="arrivals">

    <h1 class="heading"> Featured <span>Products</span> </h1>

    <div style="margin-top:10px"  class="box-container">
<ng-container  *ngFor="let products of allProducts" >
        <div *ngIf="products.isFeatured"  style="cursor:pointer" (click)="showProduct(products)" class="box">
            <div class="image">
                <img [src]="products.coverImg" class="main-img" alt="">
                <img [src]="products.coverImg"class="hover-img" alt="">
            </div>
            <div class="content">
                <h3>{{products.productTitle}}</h3>
                <div class="price"> INR {{products.price}} <span>INR 200</span> </div>
                
            </div>
        </div>



       
</ng-container>
    </div>

</section>




<section class="arrivals">

    <h1 class="heading"> All <span>Products</span> </h1>

    <div class="box-container">

        <div *ngFor="let products of allProducts" class="box" style="cursor:pointer" (click)="showProduct(products)" >
            <div class="image">
                <img [src]="products.coverImg" class="main-img" alt="">
                <img [src]="products.coverImg"class="hover-img" alt="">
            </div>
            <div class="content">
                <h3>{{products.productTitle}}</h3>
                <div class="price"> INR {{products.price}} <span>INR 200</span> </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>



       

    </div>

</section>

 <!-- Site footer -->
<app-footer></app-footer>



<ngx-spinner  
[bdColor]="'rgba(51,51,51,0.8)'"
 
  
  [type]="'timer'">
  <p style="font-size: 20px; color: white">Loading...</p>

</ngx-spinner>
</div>

