
<section [class]="showSideBar?'':'hide'" id="sidebar">
  <a href="#" class="brand">
  <div >
    <img width="20px" height="20px" src="https://res.cloudinary.com/duumuebzt/image/upload/v1655400003/paani.com/images-removebg-preview_h03kgd.png" style="margin-left:10px" alt="" srcset="">
    <span *ngIf="showSideBar" style="margin-left:10px">PAANI.<strong>COM</strong></span></div>
  </a>
  <ul class="side-menu top">
    <li [ngClass]="appliedTab==='dashboard'?'active':''">
      <a (click)="setTab('dashboard')">
        <i class='bx bxs-dashboard' ></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li [ngClass]="appliedTab==='products'?'active':''" >
      <a (click)="setTab('products')">
        <i class='bx bxs-shopping-bag-alt' ></i>
        <span class="text">My Store</span>
      </a>
    </li>
    <li [ngClass]="appliedTab==='analytics'?'active':''">
      <a (click)="setTab('analytics')" >
        <i class='bx bxs-doughnut-chart' ></i>
        <span class="text">Analytics</span>
      </a>
    </li>
    <li [ngClass]="appliedTab==='orders'?'active':''" >
      <a (click)="setTab('orders')">
        <i class='bx bxs-message-dots' ></i>
        <span class="text">Orders</span>
      </a>
    </li>
    <li [ngClass]="appliedTab==='complaints'?'active':''">
      <a (click)="setTab('complaints')">
        <i class='bx bxs-group' ></i>
        <span class="text">Complaints</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li >
      <a href="#">
        <i class='bx bxs-cog' ></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <li >
      <a href="#" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class='bx bx-menu' (click)="hideSideBar()" ></i>
    <a href="#" class="nav-link">Categories</a>
    <form action="#">
      <div class="form-input">
        <input type="text" name="search" [(ngModel)]="searchedText" (change)="searchText()" placeholder="Search with Product or Order or Complaints">
        <button type="submit"  class="search-btn"><i class='bx bx-search' ></i></button>
      </div>
    </form>
    <input type="checkbox" (change)="toggleDark()" id="switch-mode" hidden>
    
    <label for="switch-mode" class="switch-mode"></label>
    <a class="notification">
    <i *ngIf="this.dark" class='bx bxs-moon' ></i>
    <i  *ngIf="!this.dark" class='bx bxs-sun' ></i>
  </a>
    <a  class="notification">
      <i class='bx bxs-bell' ></i>
      <span class="num">8</span>
    </a>
    <a  class="notification">
      <i class='bx bxs-user' ></i>
     
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
 <app-dashboard *ngIf="appliedTab==='dashboard'"></app-dashboard>
 <app-store *ngIf="appliedTab==='products'"></app-store>
 <app-analytics *ngIf="appliedTab==='analytics'"></app-analytics>
 <app-orders *ngIf="appliedTab==='orders'"></app-orders>
<app-complaints *ngIf="appliedTab==='complaints'"></app-complaints>
  <!-- MAIN -->
</section>
<!-- CONTENT -->


