<section class="quick-links">

  <a href="home.html" class="logo"> <i class="fas fa-store"></i> Paani.com </a>

 


  <div class="links">
      <a href="home.html"> Home </a>
      <a href="about.html"> About </a>
      <a href="products.html"> Products </a>
      <a href="contact.html"> Orders </a>
  
      
  </div>

  <div class="share">

    <a href="cart.html" class="fas fa-shopping-cart"></a>
    <a href="login.html" class="fas fa-user"></a>

    <a id="menu-btn" class="fas fa-bars"></a>


      
  </div>

</section>