<section class="quick-links">

  <a style="cursor:pointer"  class="logo"> <i class="fas fa-store"></i> Paani.com </a>

 


  <div class="links">
      <a  (click)="goToDashboard()" [ngClass]="url==='/dashboard/main-dashboard'?'highlight-tab':''"> Home </a>
      <a *ngIf="false" href="about.html"> About </a>
      <a [ngClass]="url==='all-products'?'highlight-tab':''" (click)="goToProducts()"> Products </a>
      <a  [ngClass]="url==='/products/orders'?'highlight-tab':''" (click)="goToOrders()"  > Orders </a>
  
      
  </div>

  <div class="share">

   
   
    <i (click)="goToCart()" class="fa" style="font-size:26px;cursor:pointer;color:aliceblue">&#xf07a;</i>
    <span (click)="goToCart()" class='badge badge-warning' id='lblCartCount'> {{cartCount}} </span>
 
    <a href="login.html" class="fas fa-user"></a>

    <a id="menu-btn" class="fas fa-bars"></a>


      
  </div>

</section>