<section class="quick-links">

  <a href="home.html" class="logo"> <img width="40px" height="40px" src="https://res.cloudinary.com/duumuebzt/image/upload/v1655400003/paani.com/images-removebg-preview_h03kgd.png" alt="" srcset=""> Paani<strong>.com</strong> </a>

  <div class="links">
      
  </div>

  <div class="share">
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-instagram"></a>
      <a href="#" class="fab fa-linkedin"></a>
  </div>

</section>

<section class="credit">

  <p> created by <span>Shubhayu Dasgupta</span> | all rights reserved! </p>

  <img src="../../../../assets/images/card_img.png" alt="">

</section>

<!-- footer section ends -->