<section class="quick-links">

  <a href="home.html" class="logo"> <i class="fas fa-store"></i> Paani<strong>.com</strong> </a>

  <div class="links">
      
  </div>

  <div class="share">
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-instagram"></a>
      <a href="#" class="fab fa-linkedin"></a>
  </div>

</section>

<section class="credit">

  <p> created by <span>Shubhayu Dasgupta</span> | all rights reserved! </p>

  <img src="../../../../assets/images/card_img.png" alt="">

</section>

<!-- footer section ends -->